@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0, 0, 0;
  --background: 242, 242, 242;
  --primary: 250, 74, 12;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 0, 0, 0;
    --background: 242, 242, 242;
    --primary: 250, 74, 12;
  }
}
