@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    text-size-adjust: 100%;
  }

  :root {
    /*
     * background
     */
    --bg-primary: #ffffff;
    --bg-secondary: #f2f2f7;
    --bg-tertiary: #ffffff;
    /* bg-elevated */
    --bg-primary-elevated: #ffffff;
    --bg-secondary-elevated: #f2f2f7;
    --bg-tertiary-elevated: #ffffff;

    /*
     * Fill
     */
    --fill-primary: rgba(120, 120, 128, 20%);
    --fill-secondary: rgba(120, 120, 128, 16%);
    --fill-tertiary: rgba(118, 118, 128, 12%);
    --fill-quaternary: rgba(116, 116, 128, 8%);

    /*
     * Label
     */
    --label-primary: #000000;
    --label-secondary: rgba(60, 60, 67, 60%);
    --label-tertiary: rgba(60, 60, 67, 30%);
    --label-quaternary: rgba(60, 60, 67, 18%);

    /*
     * Separator
     */
    --separator: #c6c6c8;
    --separator-non-opaque: rgba(60, 60, 67, 36%);

    /*
     * Material
     */
    --material-regular: rgba(240, 240, 240, 0.82);
    --material-chrome: rgba(255, 255, 255, 0.75);

    /*
     * Colors
     */
    --accent: 255, 149, 0;
    --system-red: #ff3b30;
  }

  @media (prefers-color-scheme: dark) {
    :root,
    .dark:root {
      /*
      * background
      */
      --bg-primary: #000000;
      --bg-secondary: #1c1c1e;
      --bg-tertiary: #2c2c2e;
      /* elevated */
      --bg-primary-elevated: #1c1c1e;
      --bg-secondary-elevated: #2c2c2e;
      --bg-tertiary-elevated: #3a3a3c;

      /*
      * Fill
      */
      --fill-primary: rgba(120, 120, 128, 36%);
      --fill-secondary: rgba(120, 120, 128, 32%);
      --fill-tertiary: rgba(118, 118, 128, 24%);
      --fill-quaternary: rgba(116, 116, 128, 18%);

      /*
      * Label
      */
      --label-primary: #ffffff;
      --label-secondary: rgba(235, 235, 245, 60%);
      --label-tertiary: rgba(235, 235, 245, 30%);
      --label-quaternary: rgba(235, 235, 245, 16%);

      /*
      * Separator
      */
      --separator: #38383a;
      --separator-non-opaque: rgba(84, 84, 88, 65%);

      /*
       * Material
       */
      --material-regular: rgba(37, 37, 37, 0.82);
      --material-chrome: rgba(0, 0, 0, 0.75);

      /*
     * Colors
     */
      --accent: 255, 159, 10;
      --system-red: #ff453a;
    }
  }
}

@layer components {
  /*
   * Material
   */
  .material-regular {
    background-blend-mode: color-dodge, normal;
    @apply backdrop-blur bg-material-regular;
  }

  .material-chrome {
    background-blend-mode: color-dodge, normal;
    @apply backdrop-blur bg-material-chrome;
  }
  /*
   * Text style
   */
  .large-title {
    /* Large Title/Regular */
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;
    /* identical to box height, or 121% */
    letter-spacing: 0.4px;
  }
  .title1 {
    /* Title1/Regular */
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height, or 121% */
    letter-spacing: 0.38px;
  }
  .title2 {
    /* Title2/Regular */
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 127% */
    letter-spacing: -0.26px;
  }
  .title3 {
    /* Title3/Regular */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height, or 125% */
    letter-spacing: -0.45px;
  }
  .headline {
    /* Headline/Regular */
    font-style: normal;
    font-weight: 590;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 129% */
    letter-spacing: -0.43px;
  }
  .typography-body {
    /* Body/Regular */
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 129% */
    letter-spacing: -0.43px;
  }
  .callout {
    /* Callout/Regular */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */
    letter-spacing: -0.31px;
  }
  .subheadline {
    /* Subheadline/Regular */
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */
    letter-spacing: -0.23px;
  }
  .footnote {
    /* Footnote/Regular */
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height, or 138% */
    letter-spacing: -0.08px;
  }
  .caption1 {
    /* Caption1/Regular */
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
  }
  .caption2 {
    /* Caption2/Regular */
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height, or 118% */
    letter-spacing: 0.06px;
  }

  /*
   * 
   */
  .top-navbar {
    @apply horizontal border-b border-none-opaque material-chrome;
    .page-title {
      @apply text-base font-semibold w-full line-clamp-1 text-center;
    }
  }

  .tab-bar {
    @apply border-t border-none-opaque material-chrome sticky inset-x-0 bottom-0 horizontal pt-1 pb-2 px-2 gap-4;
  }
}
